.to-dos {
    max-width: 100%;
    padding-left: 30px;
}

.add-button,
.delete-button,
.edit-button {
    background-color: white;
    border-radius: 50px;
    padding: 6px 10px;
    margin-left: 20px;
}